/* Gaya umum */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Gaya header */
.header {
  background-color: #f0f0f0;
  text-align: center;
  padding: 50px 0;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

.header h1 {
  margin: 0;
  font-size: 36px;
}

.header p {
  margin: 20px 0;
  font-size: 18px;
  color: #777;
}

/* Gaya konten */
.content {
  background-color: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.content h2 {
  font-size: 28px;
}

.content p {
  font-size: 18px;
  color: #777;
}

.btn-contact {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1877f2;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-contact:hover {
  background-color: #13529e;
}

/* Gaya fitur */
.features {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.features h2 {
  font-size: 28px;
}

.feature {
  margin: 30px 0;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.feature img {
  max-width: 100px;
  height: auto;
}

.feature h3 {
  margin-top: 10px;
  font-size: 20px;
}

/* Gaya formulir kontak */
.contact {
  padding: 50px 0;
  text-align: center;
}

.contact h2 {
  font-size: 28px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #13529e;
}

/* Gaya footer */
.footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 0;
}

.footer p {
  margin: 0;
  color: #777;
}
